@mixin below-992{
    @media screen and (min-width:320px) and (max-width:992.67px){
        @content;
    }
}
@mixin below-575{
    @media screen and (min-width:320px) and (max-width:575.67px){
        @content;
    }
}
.header-wrap{
    display: flex;
    padding: 60px 70px;
    flex-wrap: wrap;
    background-color: #93f2f7;
    @include below-575{
        padding: 30px;
    }
        .contentWrap{
            width: 50%;
            min-width: 300px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            @include below-992{
                width: 100%;
                min-width: 100%;
            }
                h1{
                    font-size: 64px;
                    line-height: 70px;
                    @include below-992{
                        text-align: center;
                    }
                    @include below-575{
                        font-size: 32px;
                        line-height: 30px;
                    }
                }
                p{
                    font-size: 18px;
                    margin-top: 20px;
                    @include below-992{
                        text-align: center;
                    }
                }
        }
        .mainHeadImg{
            min-width: 400px;
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            @include below-992{
                width: 100%;
                min-width: 100%;
                align-items: center;
            }
                img{
                 border-radius: 50px;
                }
        }

}