@mixin below-992{
    @media screen and (min-width:320px) and (max-width:992.67px){
        @content;
    }
}
@mixin below-575{
    @media screen and (min-width:320px) and (max-width:575.67px){
        @content;
    }
}
.services-main-wrap{
        .header-wrap{
            height: 500px;
            background-image: url('../../public/images/service-bg.png');
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            padding-top: 70px;
                h1{
                    text-align: center;
                    font-size: 64px;
                    line-height: 55px;
                        @include below-575{
                            font-size: 32px;
                        }
                }
                h2{
                    text-align: center;
                    font-size: 32px;
                }
                
                p{
                    font-size: 20px;
                    font-weight: 500;
                    text-align: center;
                }
        }
}
.food-del-col{
    display: flex;
    flex-wrap: wrap;
    padding: 20px 70px;
    @include below-575{
        padding: 20px;
    }
        .content-wrap{
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            @include below-992{
                width: 100%;
            }
                h2{
                    font-size: 64px;
                    @include below-575{
                        font-size: 32px;
                        text-align: center;
                    }
                    
                }
                h3{
                    @include below-575{
                        text-align: center;
                    }
                }
                p{
                    font-size: 18px;
                    @include below-575{
                        text-align: center;
                    }
                }
        }
        .image-wrap{
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            @include below-992{
                width: 100%;
            }
        }
}