@mixin below-992{
    @media screen and (min-width:320px) and (max-width:992.67px){
        @content;
    }
}
@mixin below-575{
    @media screen and (min-width:320px) and (max-width:575.67px){
        @content;
    }
}
.about-con{
    display: flex;
    flex-flow: wrap;
    padding: 20px 70px;
    @include below-575{
        padding: 20px 30px;
    }
        .imageWrap{
            min-width: 400px;
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            @include below-992{
                width: 100%;
                min-width: 100%;
            }
        }
        .contentWrap{
            min-width: 400px;
            width: 50%;
            display: flex;
            flex-direction: column;
            @include below-992{
                width: 100%;
                min-width: 100%;
            }
                h1{
                    font-size: 64px;
                    @include below-575{
                        font-size: 32px;
                        text-align: center;
                    }
                }
                p{
                    font-size: 16px;
                    @include below-575{
                        text-align: center;
                    }
                }
        }
}